#profile-posts {
  margin-top: 50px;
}

#profile-posts .content-card {
  background-color: light-dark(var(--grayscale_1), var(--grayscale_4));
  padding: 16px 24px;
}

.profile-post-results {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-post-results .content-card {
  max-height: 75px; /* this is the collapsed height */
  overflow: hidden;
  position: relative;
  transition: max-height 0.3s ease-in-out;
  cursor: pointer;
}

.profile-post-results .content-card.expanded {
  max-height: 1000px; /* this is the expanded height */
}

.profile-post-results .content-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(
    to bottom,
    transparent,
    light-dark(var(--grayscale_1), var(--midnightBlack))
  );
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.profile-post-results .content-card.expanded::after {
  opacity: 0; /* hide gradient on hover */
}

.post-author-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: light-dark(var(--grayscale_3), var(--grayscale_5));
  height: 55px;
  width: 55px;
  min-width: 55px;
}

.post-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.post-author-avatar img {
  height: 100%;
  width: 100%;
}

.post-author-avatar span {
  color: var(--grayscale_0);
  font-size: 22px;
  font-weight: bold;
}

.post-author-info {
  width: 100%;
  margin-left: 24px;
}

.post-author-info > :first-child {
  margin-bottom: 8px;
}

.post-metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 14px;
  font-style: italic;
}

.post-metadata p {
  white-space: nowrap;
}

/* SKELETON LOADING */
.post-content.skeleton-block {
  height: 125px;
  margin-bottom: 8px;
}
